
openapi: 3.0.3
info:
  title: Go REST 
  description: GraphQL and REST API for Testing and Prototyping
  version: 1.0.1
servers:
  - url: https://gorest.co.in/public/v2
tags:
  - name: users
    description: Operations about Users
  - name: posts
    description: Operations about Posts
  - name: comments
    description: Operations about Comments
  - name: todos
    description: Operations about To-Dos
paths:
  /users:
    get:
      tags:
        - users
      summary: Get list of users
      description: Get list of users
      responses:
        '200':
          description: A JSON array of Users
          content:
            application/json:
              schema:
                type: array
                items:
                 $ref: '#/components/schemas/User'
  /comments:
    get:
      tags:
        - comments
      summary: Get list of comments
      description: Get list of comments
      responses:
        '200':
          description: A JSON array of comments
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/Comments'           
components:
  schemas:
    User:
      type: object          
      properties:
        id:
          type: string
          example: 5896
        name:
          type: string
          example: James
        email:
          type: string
          example: james@test.com
        gender:
          type: string
          example: M
        status:
          type: string
          example: active
    Comments:
      type: object
      properties:
        id:
          type: string
          example: 1
        post_id:
          type: string
          example: 1
        name:
          type: string
          example: John Doe
        email:
          type: string
          example: john.doe@example.com
        body:
          type: string
          example: This is a comment.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT


security:
  - bearerAuth: [] 